@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px !important;
  margin: 0 auto !important;
  padding: 2rem !important;
  text-align: center !important;
}

body {
  background-image:url(assets/tuulis.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll; /* Allow scrolling */

  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.weatherTable{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.weatherItems {
  border:1px solid black;
  background-color:slategray
}

.content-container {
  position: fixed !important;
  width: 100vh !important;
  height: fit-content !important;
  transform: translate(-50%,-50%) !important;
  background-color: rgba(100,100,100,0.9) !important;
  padding:20px !important;
  border-radius: 10px !important;
  z-index: 1 !important;
  max-width: 100vh !important;
  max-height: 100vh !important;
}

.content {
  margin-top: 20px !important;
  text-align: center !important;
}

.weather-container {
  background-color: rgba(256,0,0,0.8) !important;
  border-radius: 50% !important;
  position: relative !important;  
  width: auto !important;
  height: auto !important;
}

.location-container {
  background-color: cadetblue !important;
  width: 40% !important;
  height: 12% !important;
  position:relative !important;
  margin:auto !important;
  box-sizing: border-box !important;
  padding: auto !important;
  border: 3px !important;
  border-radius: 10px !important;
  display: flex !important;  
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  background-image: url(assets/unsettled-weather-jim-lorriman.jpg);
}

.btn-add {
  font-family: sans-serif !important;
  border: 2px solid rgba(250,250,250,0.5) !important;
  width: 30px !important;
  height: 30px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 16px !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  margin-right: 0px !important;
  background-color: transparent !important; 
  color: white !important; 
  margin-left: 34px !important;
  cursor: pointer !important;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3),  
  1px -1px 0 rgba(0, 0, 0, 0.3),
  -1px 1px 0 rgba(0, 0, 0, 0.3),
  1px 1px 0 rgba(0, 0, 0, 0.3) !important;
}


.btn-add::after {
  content: '+' !important;
  font-size: 25px !important;
}

.btn-add:hover {
  border-color: rgba(250,250,250,0.5) !important;
  cursor: pointer !important;
}


.button-dots {
  position: relative !important;
  width: 30px !important;
  height: 30px !important;
  margin-left: auto !important; 
  margin-right: 24px !important;
  background-color: transparent !important; 
  padding: 0 !important; 
  font-size: 22px !important; 
  color: white !important; 
  cursor: pointer !important; 
  outline: none !important;
  justify-content: center !important;
  display: flex !important;
  align-items: center!important;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3),  
  1px -1px 0 rgba(0, 0, 0, 0.3),
  -1px 1px 0 rgba(0, 0, 0, 0.3),
  1px 1px 0 rgba(0, 0, 0, 0.3) !important;
  border: 2px solid rgba(250,250,250,0) !important;
}

.button-dots span {
  line-height: 0 !important;
}



.current-location {
  font-family:sans-serif !important;
  font-size: 48px !important;
  color: rgba(255,255,255, 0.85) !important;
  position: relative !important;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5),  
  1px -1px 0 rgba(0, 0, 0, 0.5),
  -1px 1px 0 rgba(0, 0, 0, 0.5),
  1px 1px 0 rgba(0, 0, 0, 0.5) !important;
  text-align: center !important;
  flex-grow: 1 !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.modal-title {
  text-align: center !important;
  background-color: rgba(255,255,255, 0.85);
  align-items: center !important;
  justify-content: center !important;
}

.dropdown-toggle:after {
  border: none !important;
}


.weatherChart{
  position: relative;
  height: 100% !important;
  width: 100% !important;
}